{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  {{ page.navigation }}

  <header role="banner">
    {{ page.header }}
  </header>


  {{ page.breadcrumb }}

  {{ page.highlighted }}


  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content-top">
      {{ page.content_top }}
    </div>

    <div class="layout-content">
      {{ page.content }}
    </div>

    <div class="layout-content-bottom">
      {{ page.content_bottom }}
    </div>

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>


  {% if (page.footer_top or page.footer or page.footer_bottom) %}
  <div class="footer-wrapper">

    {% if page.footer_top %}
    <div class="footer-top">
      {{ page.footer_top }}
    </div>
    {% endif %}

    {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
    {% endif %}

    {% if page.footer_bottom %}
    <div class="footer-bottom">
      {{ page.footer_bottom }}
    </div>
    {% endif %}

  </div>
  {% endif %}
</div>{# /.layout-container #}
